<div class="sidebar-wrapper" *ngFor="let people of peoples">
            <div class="profile-wrapper" >
                <img class="profile" src="assets/images/profile.png" alt="" />
                <h1 class="name">{{people.name}}</h1>
                <h3 class="tagline">{{people.label}}</h3>
            </div><!--//profile-wrapper-->
            
            <div class="contact-wrapper container-block">
                <ul class="list-unstyled contact-list" >
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: yourname@email.com">{{people.email}}</a></li>
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:0123 456 789">{{people.phone}}</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="{{people.website}}" target="_blank">{{people.website_nme}}</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="{{people.linkedin}}" target="_blank">{{people.linkedin_nme}}</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="{{people.github}}" target="_blank">{{people.github_nme}}</a></li>
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="{{people.twitter}}" target="_blank">{{people.twitter_nme}}</a></li>
                </ul>
            </div><!--//contact-wrapper-->
            <div class="education-wrapper container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item" *ngFor="let eduk of people.education">
                    <h4 class="degree">{{eduk.area}}</h4>
                    <h5 class="meta">{{eduk.institution}}</h5>
                    <div class="time">{{eduk.startDate}} - {{eduk.endDate}}</div>
                </div><!--//item-->
                
            </div><!--//education-wrapper-->
            
            <div class="languages-wrapper container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list" *ngFor="let language of people.languages">
                    <li>{{language.language}} <span class="lang-desc"> ({{language.fluency}})</span></li>
                    
                </ul>
            </div><!--//interests-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list" *ngFor="let interests of people.hobby">
                    <li>{{interests}}</li>
                   
                </ul>
            </div><!--//interests-->
<div class="container-block">
<button class="btn" type="button">Contact Me!</button>
</div>

            
        </div><!--//sidebar-wrapper-->